In [1]:
import numpy as np
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
def read_file_base(file):
    data= pd.read_csv(file, skiprows=(0, 1, 2, 3), header=[1], parse_dates=[0])
    return data

In [81]:
K_y= 1
Pot_yield = 45 #(kg/ha)
Area = 112907 #ha (??)
b0 = 5
b1 = 0.25
WQ_f = 1
irrigation = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.6, 0.8, 0.9, 1]
print (len(irrigation))

11

In [103]:
file = r"C:\Users\fabrizia\Downloads\ESM.csv"
data=read_file_base(file)
display(data.head(4))

,Date,Day,Month,Year,Q_observed (mm/day),P (mm/day),Ep (mm/day),Q_observed,Ea,Q_observed.1,...,Q_observed.7,Ea.7,Q_observed.8,Ea.8,Q_observed.9,Ea.9,Q_observed.10,Ea.10,Q_observed.11,Ea.11
0,1975-01-01,1,1,1975,0.35,0.0,4.53,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1975-02-01,2,1,1975,0.35,0.0,4.56,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1975-03-01,3,1,1975,0.46,0.0,4.35,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1975-04-01,4,1,1975,0.48,0.0,4.39,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
#Scenario 1 
def data_frame(i):
    keep_q = 'Q_observed.' + str(i + 1)
    keep_e = 'Ea.' + str(i+1)
    df = data[['Date', 'Q_observed (mm/day)', 'P (mm/day)', 'Ep (mm/day)', keep_q, keep_e]].copy()
    return df

In [130]:
Scenario1_df = data_frame(0)
Scenario2_df = data_frame(1)
Scenario3_df = data_frame(2)
Scenario4_df = data_frame(3)
Scenario5_df = data_frame(4)
Scenario6_df = data_frame(5)
Scenario7_df = data_frame(6)
Scenario8_df = data_frame(7)
Scenario9_df = data_frame(8)
Scenario10_df = data_frame(9)
Scenario11_df= data_frame(10)